@import url('../../root.css');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

strong {
  font-family: var(--itim);
  font-size: 1.5em;
  color: var(--dark-blue)
}

input {
  width: 100%;
}